# Por convencion usamos SCREAM_CASE para nombrar las variables de etorno
# IMPORTANTE: no dejar espacios entre el nombre y la variable
# IMPORTANTE: podemos ocupar "" o '', para los valores de las variables de entorno, incluso sin comillas
# IMPORTANTE: Este archivo no debe ser subido a nuestro repositorio (.gitignore)
DB_USER=luisscasas45
DB_PASSWORD=Luiscasas45$
DB_HOST=cluster0.ttrspgx.mongodb.net
DB_NAME=kodedmia

# JWT
JWT_SECRET=Super3rSecr7w0oOrD

# PORT
PORT=8080

# SENDGRIND
SENDGRID_API_KEY=gegrewgrewgrew

